@function frontend-image-url($filename) {
  @return url("~govuk-frontend/govuk/assets/images/" + $filename);
}

$govuk-font-family: "Arial";
$govuk-image-url-function: frontend-image-url;

@import "~govuk-frontend/govuk/all";
@import "~@ministryofjustice/frontend/moj/components/pagination/pagination";
@import "~@ministryofjustice/frontend/moj/settings/measurements";
@import "~@ministryofjustice/frontend/moj/objects/width-container";
@import "~@ministryofjustice/frontend/moj/components/sub-navigation/sub-navigation";

.app-header-span {
  float: right;
  font-size: 16px;
  font-weight: 600;
  padding-top: 5px;
}

.app-header-item {
  margin: 0;
}

.app-switch-to-tool-link {
  float: right;
  padding-top: 4px;
}

.app-dit-panel {
  @include govuk-responsive-padding(6);
  @include govuk-responsive-margin(6, 'bottom');
  background-color: govuk-colour("light-grey", $legacy: "grey-4");
}

.moj-sub-navigation__link[aria-current="page"]:link,
.moj-sub-navigation__link[aria-current="page"]:visited {
  color: $govuk-text-colour;
  font-weight: bold;
}

.moj-sub-navigation__link[aria-current="page"]:before {
  background-color: $govuk-text-colour;
}

span.moj-sub-navigation__link,
span.moj-sub-navigation__link:hover {
  color: $govuk-secondary-text-colour;
}

.home-services-para {
  margin-top: 7px;
  font: 16px;
  font-family: sans-serif;
}

.service-banner-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}

.app-dit-details__text {
  border-left-color: transparent;
}

.app-dit-rag-rating__icon svg {
  width: 1.8rem;
  height: 1.8rem;
  position: relative;
  bottom: -0.32rem;
  padding-right: 0rem;
}

.app-dit-rag-rating__icon svg text {
  font-size: 2.5rem;
  font-weight: normal;
}

.app-dit-rag-rating__icon-red svg {
  color: #d4351c;
}

.app-dit-rag-rating__icon-red svg text {
  color: #fff;
}

.app-dit-rag-rating__icon-green svg {
  color: #00703c;
}

.app-dit-rag-rating__icon-green svg text {
  color: #fff;
}

.app-dit-rag-rating__icon-amber svg {
  color: #f47738;
}

.app-dit-rag-rating__icon-amber svg text {
  color: #000;
}

.app-dit-rag-rating__icon-none svg {
  color: govuk-colour("dark-grey", $legacy: "grey-1");
}

.app-dit-rag-rating__icon-none svg rect {
  color: #fff;
}

.app-dit-rag-rating-legend {
  position: relative;
  @include govuk-responsive-margin(9, "top");
}

.app-dit-rag-rating-legend__item {
  margin-left: 2.5em;
}

.app-dit-rag-rating-legend__item .app-dit-rag-rating__icon {
  position: absolute;
  left: 0;
  margin-top: -0.75rem;
}

.app-dit-gsc-notes {
  @include govuk-responsive-margin(9, "top");
}
