.tasklist-summary {
    padding-left: 45px;
    padding-top: 5px;
}

.tasklist-actions-header {
    display: inline;
}

.tasklist-action-description {
    color: #505050;
    margin-top: 3px;
    margin-bottom: 8px;
    width: 420px;
    word-wrap: break-word;
}

.tasklist-right-aligned-tag {
  float: right;
}

.tasklist-top-border {
  border-top: 1px solid #b1b4b6;
}

.contact-block {
  border-left: 1px solid #b1b4b6;
  padding-left: 15px;
  margin-bottom: 30px;
  margin-top: 30px;
}