@function frontend-font-url($filename) {
  @return url("~govuk-frontend/govuk/assets/fonts/" + $filename);
}

@function frontend-image-url($filename) {
  @return url("~govuk-frontend/govuk/assets/images/" + $filename);
}

$govuk-font-url-function: frontend-font-url;
$govuk-image-url-function: frontend-image-url;

@import "~govuk-frontend/govuk/all";
@import "~@ministryofjustice/frontend/moj/components/pagination/pagination";
@import "~@ministryofjustice/frontend/moj/settings/measurements";
@import "~@ministryofjustice/frontend/moj/objects/width-container";
@import "~@ministryofjustice/frontend/moj/components/sub-navigation/sub-navigation";

.app-header-span {
  float: right;
  font-size: 16px;
  font-weight: 600;
  padding-top: 5px;
}

.app-header-item {
  margin: 0;
}

.app-phase-banner-content {
  display: inline;
}

.app-switch-to-tool-link {
  float: right;
  padding-top: 4px;
}

.app-dit-panel {
  @include govuk-responsive-padding(6);
  @include govuk-responsive-margin(6, 'bottom');
  background-color: govuk-colour("light-grey", $legacy: "grey-4");
}