.tasklist-summary {
    padding-left: 45px;
    padding-top: 5px;
}

.tasklist-actions-header {
    display: inline;
}

.tasklist-action-description {
    color: grey;
    margin-top: 3px;
    margin-bottom: 8px;
    width: 420px;
    word-wrap: break-word;
}