<div class="govuk-form-group">
    {% with widget.attrs.id as id %}
        {% for subwidget in labelled_widgets %}
            <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="{{ subwidget.widget.attrs.id }}">
                        {{ subwidget.label }}
                    </label>
                    {% with widget=subwidget.widget %}
                        {% include widget.template_name %}
                    {% endwith %}
{#                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="{{ id }}-day" name="day" type="text" pattern="[0-9]*" inputmode="numeric">#}
                </div>
            </div>
        {% endfor %}
    {% endwith %}
