{% extends "common_base.html" %}

{% load supply_chain_filters %}
{% load supply_chain_tags %}

{% block page_title %}
    Update supply chain information
{% endblock page_title %}

{% block menu_header %}
    <a href="/" class="govuk-header__link govuk-header__link--service-name">
        UK supply chain resilience tool
    </a>
{% endblock menu_header %}

{% block footer_links %}
    <ul class="govuk-footer__inline-list">
        <li class="govuk-footer__inline-list-item">
            <a target="_blank" class="govuk-footer__link" href={% url 'privacy' %}>
                Privacy
            </a>
        </li>
    </ul>
{% endblock footer_links %}