{% extends "base.html" %}
{% load supply_chain_tags %}

{% block body %}
<h1 class="govuk-heading-xl" style="margin-bottom: 15px;">UK supply chain<br>resilience tool</h1>
<p class="govuk-body-l">
    Use this tool to help manage critical supply chain resilience across the UK.
</p><br>


<h2 class="govuk-heading-l" style="margin-bottom: 15px;">Supply chain information</h2>
<p class="govuk-body-l">
    Keep your wider information up to date<br>and provide your monthly update here.
</p>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <ul class="govuk-list">
            <li>
                <a href={% url 'sc-home' %} class="services-heading govuk-link govuk-!-font-weight-bold">Monthly
                    update</a>

                <p class="home-services-para">
                    Keep your department's monthly action plan up to date.
                </p>
            </li>
        </ul>
    </div>
</div><br>



<h2 class="govuk-heading-l" style="margin-bottom: 15px;">Reporting summary</h2>
<p class="govuk-body-l">
    Information on how to strengthen<br> future supply chain resilience.
</p>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <ul class="govuk-list">
            <li>
                {% get_action_progress_route request.user as route %}
                <a class="services-heading govuk-link govuk-!-font-weight-bold" href={{ route }}>Strategic action
                    summary</a>
                <p class="home-services-para">
                    View all departmental strategic actions across the critical supply chains.
                </p>
            </li>
        </ul>
    </div>
    <div class="govuk-grid-column-one-half">
        <ul class="govuk-list">
            <li>
                <a href="{% visualisation_link %}" class="services-heading govuk-link govuk-!-font-weight-bold">Strategic action progress</a>

                <p class="home-services-para">
                    Find out more about all strategic action progress and status history.
                </p>
            </li>
        </ul>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <ul class="govuk-list">
            <li>
                <a href={% url 'chain-details' %} class="services-heading govuk-link govuk-!-font-weight-bold">Supply
                    chain details</a>

                <p class="home-services-para">
                    View all supply chain information including vulnerabilities, maturity ratings, criticality scores, supply chain stages and scenario testing.
                </p>
            </li>
        </ul>
    </div>
    <div class="govuk-grid-column-one-half">
        <ul class="govuk-list">
            <li>
                <a href="{% quicksight_countries_dashboard_url %}" class="services-heading govuk-link govuk-!-font-weight-bold">Country information</a>

                <p class="home-services-para">
                    Find out more about all country dependencies in relation to supply chain information.
                </p>
            </li>
        </ul>
    </div>

</div>


{% endblock %}