{% extends "base.html" %}

{% block page_title %}Supply chains – {{ block.super }}{% endblock %}

{% block breadcrumbs %}
<nav class="govuk-breadcrumbs" aria-label="breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="{% url 'index' %}">Home</a>
      </li>
    </ol>
</nav>
{% endblock %}


{% block body %}
    <h1 class="govuk-heading-xl">Monthly update</h1>
    <p class="govuk-body">
        Keep your monthly action plan up to date so we can work towards constantly improving the UK's supply chain resilience.
    </p>

    {% if update_complete %}
        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                No action required
            </h2>
            </div>
            <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">
                All supply chains have been completed for this month.
            </p>
            </div>
        </div>
    {% else %}
        <ul class="govuk-list govuk-list--bullet">
            <li>
                You need to complete your monthly update. Complete <strong>{{ num_in_prog_supply_chains }} supply chain{{ num_in_prog_supply_chains|pluralize }}</strong> by
                <span class="govuk-body govuk-!-font-weight-bold">{{ deadline|date:"l jS F Y" }}</span>.
            </li>
            <li>
                Select a supply chain to provide your regular monthly update.
            </li>
        </ul>
    {% endif %}

    <br>
    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Supply chain</th>
                <th scope="col" class="govuk-table__header">No. strategic<br> actions</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric">Last updated</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            {% for supplychain in supply_chains %}
            {% if supplychain.supply_chain_umbrella %}
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">
                        <a href="{% url 'supply-chain-task-list' 'abcd' %}?umbrella={{ supplychain.supply_chain_umbrella.name }}"  class="govuk-link">{{ supplychain.supply_chain_umbrella.name }}</a>
                    </th>
                    <td class="govuk-table__cell">{{supplychain.strategic_action_count}}</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">{{supplychain.last_submission_date|date:"j M Y"}}</td>
                </tr>
            {% else %}
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">
                        <a href={% url 'supply-chain-task-list' supply_chain_slug=supplychain.slug %}  class="govuk-link">{{ supplychain.name }}</a>
                    </th>
                    <td class="govuk-table__cell">{{supplychain.strategic_action_count}}</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">{{supplychain.last_submission_date|date:"j M Y"}}</td>
                </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {% if supply_chains.has_other_pages %}
        {% include 'includes/pagination.html' with objects=supply_chains objects_name="supply chains" %}
    {% endif %}

    <a href={% url 'index' %} class="govuk-button govuk-button--secondary">Back</a>
{% endblock %}
