{% extends "base.html" %}

{% block page_title %}Summary – {{ block.super }}{% endblock page_title %}

{% block breadcrumbs %}
<nav class="govuk-breadcrumbs" aria-label="breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="{% url 'index' %}">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="{% url 'supply-chain-summary' %}" aria-current="page">Supply chain
                summary</a>
        </li>
    </ol>
</nav>
{% endblock %}

{% block page_header %} {{ block.super }} {% endblock %}

{% block body %}

    <h2 class="govuk-heading-xl"> Supply chain summary</h1>
    <p class="govuk-body">
        Select a supply chain to view or edit details
    </p>

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        {% for sc in supply_chains %}
            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading">
                        {{ sc.name }}
                    </span>
                </h2>
                </div>
                <div id="accordion-default-content" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading">
                    {% include "includes/sc_key_info_list.html" %}
                </div>
            </div>
        {% endfor %}
    </div>

    {% if supply_chains.has_other_pages %}
        {% include 'includes/pagination.html' with objects=supply_chains objects_name="supply chains" %}
    {% endif %}


    <a href={% url 'index' %}
        class="govuk-button govuk-button--secondary btn" data-module="govuk-button">Back to home</a>

{% endblock %}