{% extends "base.html" %}

{% block page_title %}Strategic actions – {{ supply_chain.name }} – {{ block.super }}{% endblock page_title %}

{% block breadcrumbs %}
<nav class="govuk-breadcrumbs" aria-label="breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="{% url 'index' %}">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Strategic action summary</a>
    </li>
  </ol>
</nav>
{% endblock %}

{% block body %}
<h1 class="govuk-heading-xl">Strategic actions for
  <br>
  {{ supply_chain.name }}</h1>
<p class="govuk-body">Select a strategic action to view and edit its details.</p>
<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-with-summary-sections">
  {% for action in strategic_actions %}
  {% with secid=action.name|slugify %}
  {% with heading="accordion-section-heading-"|add:secid content="accordion-section-content-"|add:secid summary="accordion-section-summary-"|add:secid %}
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="{{ heading }}">
          {{ action.name }}
        </span>
      </h2>
      <div class="govuk-accordion__section-summary govuk-body summary-action-description" id="{{ summary }}">
        {{ action.description|truncatechars:150 }}
      </div>
    </div>
    <div id="{{ content }}" class="govuk-accordion__section-content" aria-labelledby="{{ heading }}">
      {% include "includes/sa_info_list.html" %}
    </div>
  </div>
  {% endwith %}
  {% endwith %}
  {% endfor %}
</div>
{% if strategic_actions.has_other_pages %}
    {% include 'includes/pagination.html' with objects=strategic_actions objects_name="strategic actions" %}
{% endif %}
<a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="#">Back</a>
{% endblock %}
