{% extends "base.html" %}

{% block page_title %}Update {{ view.supply_chain.name }} – {{ block.super }}{% endblock %}

{% block breadcrumbs %}
<nav class="govuk-breadcrumbs" aria-label="breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="{% url 'index' %}">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="{% url 'sc-home' %}">Monthly update</a>
      </li>
    </ol>
</nav>
{% endblock %}

{% block body %}

    <h1 class="govuk-heading-xl"> Update {{ view.supply_chain.name }} </h1>

    {% if not view.update_submitted %}
        {% if view.update_complete %}
            <div>
                <strong>
                    Update completed
                </strong>
                <div>
                    All actions are ready to be submitted.
                </div>
            </div>
            <br>
        {% else %}
            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Warning</span>
                    Update incomplete
                </strong>
                <div class="tasklist-summary">{{ view.incomplete_updates }} out of {{ view.total_sa }} actions are not ready to be submitted.</div>
            </div>
        {% endif %}
    {% else %}
        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                No action required
            </h2>
            </div>
            <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">
                You have already submitted the monthly update for this supply chain.
            </p>
            </div>
        </div>
    {% endif %}

    {% if view.submit_error %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    <li>
                        <a href="#updates">Updates must be given for all strategic actions</a>
                      </li>
                </ul>
            </div>
        </div>
    {% endif %}

    <table class="govuk-table" id="updates">
        <caption class="govuk-table__caption govuk-heading-l">Monthly strategic actions updates</caption>
        <tbody class="govuk-table__body">
            {% for update in view.sa_updates %}
            <tr class="govuk-table__row tasklist-top-border">
                <td class="govuk-table__cell govuk-!-width-one-half">
                    <a href={{ update.route }} class="govuk-link">Update {{ update.name }}</a>
                    <p class="tasklist-action-description"> {{ update.description|truncatewords:10 }} </p>
                </td>
                <td class="govuk-table__cell">
                    {% if update.status.label == "Not started" %}
                        <strong class="govuk-tag tasklist-right-aligned-tag govuk-tag--grey">
                            {{ update.status.label }}
                        </strong>
                    {% elif update.status.label == "In progress" %}
                        <strong class="govuk-tag tasklist-right-aligned-tag govuk-tag--blue">
                            {{ update.status.label }}
                        </strong>
                    {% elif update.status.label == "Submitted" %}
                        <strong class="govuk-tag tasklist-right-aligned-tag govuk-tag--green">
                            {{ update.status.label }}
                        </strong>
                    {% else %}
                    <strong class="govuk-tag tasklist-right-aligned-tag">
                        {{ update.status.label }}
                    </strong>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if view.sa_updates.has_other_pages %}
        {% include 'includes/pagination.html' with objects=view.sa_updates objects_name="strategic actions" %}
    {% endif %}

    {% if not view.update_submitted %}
        <form action={% url 'supply-chain-task-list' supply_chain_slug=view.supply_chain.slug %} method="post">
            {% csrf_token %}
            <button class="govuk-button" data-module="govuk-button" type="submit">
                Submit monthly update
            </button>
        </form>
    {% else %}
        <a href={% url 'sc-home' %} class="govuk-button govuk-button--secondary">Back</a>
    {% endif %}

{% endblock %}