{% extends "base.html" %}

{% block page_title %}Update complete – {{ view.supply_chain.name }} – {{ block.super }}{% endblock page_title %}

{% block breadcrumbs %}
<nav class="govuk-breadcrumbs" aria-label="breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="{% url 'index' %}">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="{% url 'supply-chain-task-list' view.supply_chain.slug %}">{{ view.supply_chain.name }}</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="{% url 'supply-chain-update-complete' view.supply_chain.slug %}" aria-current="page">Update complete</a>
        </li>
    </ol>
</nav>
{% endblock %}

{% block page_header %} {% endblock %}

{% block body %}
    <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
            Update complete
        </h1>
        <div class="govuk-panel__body">
            Thank you for submitting your monthly update for the <strong>{{ view.supply_chain.name }}</strong> supply chain.
        </div>
    </div>

    <br>
    <h2 class="govuk-heading-m">What happens next</h2>

    <p class="govuk-body">
        You have given updates for <strong>
            {{ view.num_updated_supply_chains }} of {{ view.sum_of_supply_chains }} supply chains.
        </strong>
    </p>

    <p class="govuk-body">
        Your update has been sent to the Global Supply Chains team who will use this data to inform Programme Board decision making.
    </p>

    <p class="govuk-body">
        The team will get in touch with you if there are any questions or issues.
    </p>


    <p class="govuk-body">
        <span>
            You can go back and
            <a id="home" href={% url 'index' %} class="govuk-link">give an update for another supply chain.</a>
        </span>

    </p>

{% endblock %}