appdirs==1.4.4 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
asgiref==3.3.4 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
attrs==20.3.0 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
build==0.10.0 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
cachecontrol[filecache]==0.12.14 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
certifi==2023.7.22 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
cffi==1.15.1 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
cfgv==3.2.0 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
chardet==4.0.0 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
charset-normalizer==3.2.0 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
cleo==2.0.1 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
click==8.1.7 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
colorama==0.4.6 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0" and (platform_system == "Windows" or sys_platform == "win32" or os_name == "nt")
configargparse==1.4.1 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
convertdate==2.3.2 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
coverage==5.5 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
crashtest==0.4.1 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
cryptography==41.0.3 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
dbt-copilot-python==0.1.2 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
defusedxml==0.6.0 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
diff-match-patch==20200713 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
distlib==0.3.7 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
dj-database-url==2.0.0 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
django-environ==0.4.5 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
django-import-export==2.5.0 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
django-ipware==3.0.7 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
django-log-formatter-ecs==0.0.5 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
django-reversion==3.0.9 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
django-simple-history==3.0.0 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
django-staff-sso-client==3.1.1 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
django-webpack-loader==1.0.0 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
django==3.2.21 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
djangorestframework==3.12.4 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
dulwich==0.21.6 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
elastic-apm==6.2.3 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
et-xmlfile==1.0.1 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
exceptiongroup==1.1.3 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
factory-boy==3.2.1 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
faker==6.0.0 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
filelock==3.12.2 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
gevent==22.10.2 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
greenlet==2.0.2 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
gunicorn==20.0.4 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
hawkrest==1.0.1 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
hijri-converter==2.1.3 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
holidays==0.10.5.2 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
html5lib==1.1 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
identify==1.5.14 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
idna==2.10 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
importlib-metadata==4.4.0 ; python_full_version >= "3.9.16" and python_version < "3.10"
iniconfig==1.1.1 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
installer==0.7.0 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
itsdangerous==2.1.2 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
jaraco-classes==3.3.0 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
jdcal==1.4.1 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
jeepney==0.8.0 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0" and sys_platform == "linux"
jinja2==3.1.2 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
jsonschema==4.17.3 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
keyring==23.9.3 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
korean-lunar-calendar==0.2.1 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
kubi-ecs-logger==0.1.0 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
lockfile==0.12.2 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
markuppy==1.14 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
markupsafe==2.1.3 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
marshmallow==3.6.1 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
mohawk==1.1.0 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
more-itertools==10.1.0 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
msgpack==1.0.5 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
mypy-extensions==0.4.4 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
nodeenv==1.5.0 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
oauthlib==3.2.2 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
odfpy==1.4.1 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
openpyxl==3.0.10 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
packaging==20.9 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
pathspec==0.9.0 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
pexpect==4.8.0 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
pkginfo==1.9.6 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
platformdirs==3.10.0 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
pluggy==0.13.1 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
poetry-core==1.6.1 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
poetry-plugin-export==1.5.0 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
poetry==1.5.1 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
pre-commit==2.10.1 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
psutil==5.8.0 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
psycogreen==1.0.2 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
psycopg2-binary==2.9.7 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
ptyprocess==0.7.0 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
py==1.11.0 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
pycparser==2.21 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
pymeeus==0.5.12 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
pyparsing==2.4.7 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
pyproject-hooks==1.0.0 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
pyrsistent==0.19.3 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
pytest-cov==2.12.1 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
pytest-django==4.1.0 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
pytest==7.2.2 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
python-dateutil==2.8.2 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
pytz==2020.5 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
pywin32-ctypes==0.2.2 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0" and sys_platform == "win32"
pyyaml==5.3.1 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
pyzmq==22.2.1 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
rapidfuzz==2.15.1 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
regex==2020.11.13 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
requests-oauthlib==1.3.1 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
requests-toolbelt==1.0.0 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
requests==2.31.0 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
secretstorage==3.3.3 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0" and sys_platform == "linux"
sentry-sdk==1.14.0 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
setuptools==68.1.2 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
shellingham==1.5.3 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
six==1.15.0 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
sqlparse==0.4.4 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
tablib==3.0.0 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
tablib[html,ods,xls,xlsx,yaml]==3.0.0 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
text-unidecode==1.3 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
toml==0.10.2 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
tomli==2.0.1 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
tomlkit==0.12.1 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
trove-classifiers==2023.8.7 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
typed-ast==1.5.5 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
typing-extensions==3.10.0.2 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
urllib3==1.26.16 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
virtualenv==20.24.4 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
webencodings==0.5.1 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
werkzeug==2.3.7 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
whitenoise==5.2.0 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
xattr==0.10.1 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0" and sys_platform == "darwin"
xlrd==2.0.1 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
xlwt==1.3.0 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
zipp==3.4.2 ; python_full_version >= "3.9.16" and python_version < "3.10"
zope-event==4.5.0 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
zope-interface==5.4.0 ; python_full_version >= "3.9.16" and python_full_version < "3.10.0"
