<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dd class="govuk-summary-list__value">
        <h3 class="govuk-heading-s" style="padding-bottom: 10px;">Department</h3>
        Sarah Philips
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dd class="govuk-summary-list__value">
        <h3 class="govuk-heading-s" style="padding-bottom: 10px;">Supply chain</h3>
        5 January 1978
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dd class="govuk-summary-list__value">
        <h3 class="govuk-heading-s" style="padding-bottom: 10px;">Strategic action status</h3>
        72 Guild Street
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dd class="govuk-summary-list__value">
        <h3 class="govuk-heading-s" style="padding-bottom: 10px;">Strategic action description</h3>
        5 January 1978
      </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          <h3 class="govuk-heading-s" style="padding-bottom: 10px;">Start date</h3>
          5 January 1978
        </dd>
      </div>
      <div class="govuk-summary-list__row--no-border">
        <dd class="govuk-summary-list__value">
          <h3 class="govuk-heading-s" style="padding-bottom: 10px;">Estimated date of completion</h3>
          5 January 1978
        </dd>
      </div>
</dl>