{% extends 'supply_chains/monthly-update-form-base.html' %}

{% block body %}
    <h1 class="govuk-heading-xl">Strategic action monthly update</h1>
    {% include 'supply_chains/mu-existing-completion-date.html' %}
    <form method="post" action="">
        {% csrf_token %}
        {{ form.implementation_rag_rating }}
        <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button" type="submit">
                Save and continue
            </button>

            <a href="{% url 'tlist' sc_slug=strategic_action_update.supply_chain.slug %}" class="govuk-button govuk-button--secondary" data-module="govuk-button" type="button">
                Cancel
            </a>
        </div>
    </form>
{% endblock body %}
