{#                {% for code, error in form.non_field_errors.items %}#}
{#                    <li>#}
{#                        <a href="#passport-issued-error">{{ error }}</a>#}
{#                    </li>#}
{#                {% endfor %}#}
{% for field in form %}
    {% if field.errors %}
        {% for error in field.errors %}
            <li>
                <a href="#{{ field.id_for_label }}">{{ error }}</a>
            </li>
        {% endfor %}
    {% endif %}
{% endfor %}
{% if form.detail_forms %}
    {% for field_name, key, config in form.detail_forms %}
        {% include "supply_chains/includes/gds-error-summary-list.html" with form=config.form %}
    {% endfor %}
{% endif %}
