{% extends "base.html" %}

{% block page_title %}Privacy notice – {{ block.super }}{% endblock page_title %}

{% block breadcrumbs %}
<nav class="govuk-breadcrumbs" aria-label="breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="{% url 'index' %}">Home</a>
        </li>
    </ol>
</nav>
{% endblock %}

{% block body %}
    <h1 class="govuk-heading-xl">Privacy notice for DIT clients</h1>


    <p>I am an individual who belongs to the Department for International Trade (DIT) Clients. These include public
        sector’s organisations</p>


    <br>
    <h2 class="govuk-heading-l">The purpose of this document</h2>
    <p>
        The Department for International Trade (DIT) is committed to protecting the privacy and security of your information in accordance with UK Data Protection legislation, including the General Data Protection Regulation (GDPR) and the
        <a href="https://www.legislation.gov.uk/ukpga/2018/12/contents/enacted">Data Protection Act 2018</a>.
    </p>

    <p>
        DIT is a “joint-controller”. This means that we are jointly responsible for deciding how we hold and use personal information.
    </p>

    <p>
        This privacy notice explains what personal data (information) we will hold about you, how we collect it, and how we will use and may share information about you during the application process. We are required to notify you of this information, under data protection legislation. Please ensure that you read this notice and any other similar or shorter notices we may provide you with from time to time when we collect or process personal information about you.
    </p>

    <br>
    <h2 class="govuk-heading-l">What data we collect about you</h2>

    <p>
        We process (collect and use) the following personal information about you:
    </p>

    <ul class="govuk-list govuk-list--bullet">
    <li>
        User login profile (such as name, email address)
    </li>
    <li>
        Supply chain contact and other information (such as ID, name of supply chain, contact name and government department, contact email, supply chain related information)
    </li>
    </ul>

    <br>
    <h2 class="govuk-heading-l">Why we need your data and how we use it</h2>

    <p>
        We will typically collect and use this information for the following purposes.
    </p>

    <h3 class="govuk-heading-m">To perform a task in the public interest</h3>

    <p>
        By facilitating updating on strategic actions against critical supply chains into the UK.
    </p>

    <br>
    <h2 class="govuk-heading-l">Where do we obtain your information from?</h2>


    <h3 class="govuk-heading-m">Information that you give us</h3>

    <p>
        You give us your information by completing the digital form for your monthly update on your supply chains and maintaining up to date records on your supply chain information.
    </p>

    <br>
    <h2 class="govuk-heading-l">Our legal basis for processing your data</h2>

    <p>
        The legal bases for processing your personal data are:
    </p>

    <ul class="govuk-list govuk-list--bullet">
        <li>
            to perform our public tasks
        </li>
    </ul>

    <p>
        When our processing is based solely on your consent - and subject to applicable local laws - you have the right to withdraw your consent at any time. This will not affect the validity of the processing prior to the withdrawal of consent.
    </p>

    <p>
        To withdraw your consent, please contact the Data Protection Team at <a href="mailto:data.protection@trade.gov.uk">data.protection@trade.gov.uk</a> (details provided in the “Contacting us” paragraph at the end of this notice).<!-- /PS-IGNORE -->
    </p>

    <br>
    <h2 class="govuk-heading-l">How we may share your information</h2>

    <p>
        We will only share your personal information with third parties for the purpose disclosed in this privacy notice and in accordance with our instructions. We do not allow our third-party service providers to use your personal data for their own purposes.
    </p>


    <p>
        Where the law allows us, we may share your data with other recipients, e.g. government departments, public agencies or bodies, business companies, third-party service providers, or markets applied for.
    </p>

    <p>
        We will not:
    </p>

    <ul class="govuk-list govuk-list--bullet">
        <li>
            sell or rent your data to third parties
        </li>
        <li>
            share your data with third parties
        </li>
    </ul>

    <p>
        for their own marketing purposes.
    </p>

    <p>
        We will also share your data if we are required to do so by law or regulation, or to counteract fraud or other crime.
    </p>

    <p>
        Information provided whilst using our digital services - including personal information - may be published or disclosed in accordance with the Freedom of Information Act 2000 (FOIA). For this purpose, we will anonymise or aggregate information as appropriate to ensure minimisation, privacy and confidentiality. For more information, please contact the Head of Information Rights Unit (details provided in “Contacting us” section).
    </p>

    <br>
    <h2 class="govuk-heading-l">How long we keep your data</h2>

    <p>
        We will only retain your anonymous personal data for as long as it is required to fulfil the purpose for which we collected it.  In any event, we will retain this data for no longer than 36 months from the date of last login.
    </p>


    <br>
    <h2 class="govuk-heading-l">How we protect your data and keep it secure</h2>

    <p>
        We limit access to your personal information to those who have a genuine business need to access it. Those processing your information will do so only in an authorised manner and are subject to a duty of confidentiality. We also have procedures in place to deal with any suspected data security breach.
    </p>

    <p>
        From time-to-time your information may be stored in or accessed from countries outside the European Economic Area. Where this may happen, we always make sure that there are appropriate safeguards in place and your rights are protected to the same high standard as under UK Data Protection legislation.
    </p>

    <br>
    <h2 class="govuk-heading-l">Your rights</h2>

    <h3 class="govuk-heading-m">Your rights in connection with personal information</h3>

    <p>
        Under the data protection laws, you have several rights in respect of your information and the way we use it. You have the right to request:
    </p>

    <ul class="govuk-list govuk-list--bullet">
        <li>
            information about how your personal data is processed
        </li>
        <li>
            a copy of that personal data
        </li>
        <li>
            that anything inaccurate in your personal data is corrected immediately
        </li>
    </ul>

    <p>
        You can also:
    </p>

    <ul class="govuk-list govuk-list--bullet">
        <li>
            raise an objection about how your personal data is processed
        </li>
        <li>
            request that your personal data is erased if there is no longer a justification for it
        </li>
        <li>
            ask that the processing of your personal data is restricted in certain circumstances
        </li>
    </ul>

    <br>
    <h2 class="govuk-heading-l">Accessibility</h2>

    <p>
        If you require a paper copy of this privacy notice, or a large print copy, or to hear it in audio version, please contact:
    </p>

    <div class="contact-block">
        <p>Data Protection Officer<br>
            Department for International Trade<br>
            Old Admiralty Building<br>
            Whitehall<br>
            LONDON<br>
            SW1A 2DY<br><!-- /PS-IGNORE -->
        </p>
    </div>

    <p>Email: <a href="mailto:data.protection@trade.gov.uk">data.protection@trade.gov.uk</a></p><!-- /PS-IGNORE -->

    <br>
    <h2 class="govuk-heading-l">Contacting us</h2>

    <p>
        If you would like to exercise any of your rights, or have any questions about this privacy notice, or any concerns or complaints about how we handle your personal information, please contact:
    </p>

    <div class="contact-block">
        <p>Data Protection Officer<br>
            Department for International Trade<br>
            Old Admiralty Building<br>
            Whitehall<br>
            LONDON<br>
            SW1A 2DY<br><!-- /PS-IGNORE -->
        </p>
    </div>

    <p>Email: <a href="mailto:data.protection@trade.gov.uk">data.protection@trade.gov.uk</a></p><!-- /PS-IGNORE -->

    <p>
        The Data Protection Officer (DPO) is responsible for independent advice and monitoring of DIT's use of personal information.
    </p>

    <p>
        We hope that the Data Protection Officer can resolve any query or concern you may raise about our use of your information.
    </p>

    <p>
        The General Data Protection Regulation also gives you the right to lodge a complaint with a supervisory authority, in particular in the European Union (or European Economic Area) state where you work, normally live or where any alleged infringement of data protection laws occurred. The supervisory authority in the UK is the Information Commissioner who may be contacted using the details below.
    </p>

    <div class="contact-block">
        <p>Information Commissioner's Office<br>
            Wycliffe House<br>
            Water Lane<br>
            Wilmslow<br>
            Cheshire<br>
            SK9 5AF<br><!-- /PS-IGNORE -->
        </p>
    </div>

    <p>
        Telephone: 0303 123 1113<br><!-- /PS-IGNORE -->
        <a href="https://www.gov.uk/call-charges">Find out about call charges</a>
    </p>

    <p>Email: <a href="mailto:casework@ico.org.uk">casework@ico.org.uk</a></p><!-- /PS-IGNORE -->

    <p>
        Any complaint to the Information Commissioner is without prejudice to your right to seek redress through the courts.
    </p>

    <br>
    <h2 class="govuk-heading-l">Changes to this privacy notice</h2>

    <p>
        We reserve the right to update this privacy notice at any time and we will provide you with a new privacy notice if we make any substantial updates.
    </p>




    <br>
    <h2 class="govuk-heading-l">Identity and contact details</h2>

    <p>
        The Department for International Trade is registered as a Data Controller under the General Data Protection Regulation and Data Protection Act 2018.
    </p>

    <div class="contact-block">
        <p>Data Protection Team<br>
            Department for International Trade<br>
            Old Admiralty Building<br>
            Whitehall<br>
            LONDON<br>
            SW1A 2DY<br><!-- /PS-IGNORE -->
        </p>
    </div>

    <p>Email: <a href="mailto:data.protection@trade.gov.uk">data.protection@trade.gov.uk</a></p><!-- /PS-IGNORE -->

    <br>
    <div class="app-back-to-top" data-module="app-back-to-top">
        <a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#top">
          <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="19" height="17" viewBox="0 0 19 17">
            <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
          </svg>Back to top
        </a>
      </div>
    {% endblock %}
