{% extends "base.html" %}

{% block page_title %}Current monthly update - {{ strategic_action.name }} – {{ supply_chain_name }} – {{ block.super }}{% endblock page_title %}

{% block breadcrumbs %}
<nav class="govuk-breadcrumbs" aria-label="breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="{% url 'index' %}">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="{% url 'sc-home' %}">Monthly update</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="{% url 'supply-chain-task-list' supply_chain_slug %}">{{ supply_chain_name }}</a>
      </li>
    </ol>
  </nav>
{% endblock %}

{% block body %}
  <h1 class="govuk-heading-xl">Current monthly update for {{ strategic_action.name }}</h1>

  <div>
    <span>
      <strong>Update submitted on<br></strong>
      {{ update.submission_date|date:"j F Y" }}
    </span>
  </div>

  <br>

  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Latest monthly update
      </dt>
      <dd class="govuk-summary-list__value">
        {{ update.content }}
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Estimated date of completion
      </dt>
      <dd class="govuk-summary-list__value">
        {{ completion_estimation }}
      </dd>
    </div>
    <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
      <dt class="govuk-summary-list__key">
        Current delivery status
      </dt>
      <dd class="govuk-summary-list__value">
        {{ update.implementation_rag_rating|title }}
        {% if update.reason_for_delays %}
          <br>{{ update.reason_for_delays }}
        {% endif %}
      </dd>
    </div>
  </dl>

  <a href={% url 'supply-chain-task-list' supply_chain_slug %} class="govuk-button govuk-button--secondary btn" data-module="govuk-button">Back</a>

{% endblock %}
