{% extends "base.html" %}


{% block page_title %} Strategic action progress - {{ block.super }} {% endblock %}

{% block body %}


{% block page_header %}

<h1 class="govuk-heading-xl">Strategic action progress</h1>


<p class="govuk-body">
  Use the filter to see strategic action progress.
</p>

{% endblock page_header %}

{% include "supply_chains/includes/error_summary.html" %}


<br>
<form method="post" action="" novalidate>
  {% csrf_token %}

  {% if request.user.is_admin %}
  <div class="govuk-form-group{% if form.department.errors %} govuk-form-group--error{% endif %}">
    <label class="govuk-label govuk-!-font-weight-bold" for="department">
      Department
    </label>
    {% for error in form.department.errors %}
    <span class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> {{ error }}
    </span>
    {% endfor %}
    {{ form.department }}
  </div>
  {% endif %}

  <div class="govuk-form-group{% if form.supply_chain.errors %} govuk-form-group--error{% endif %}">
    <label class="govuk-label govuk-!-font-weight-bold" for="supply_chain">
      Supply chain
    </label>
    {% for error in form.supply_chain.errors %}
    <span class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> {{ error }}
    </span>
    {% endfor %}
    {{ form.supply_chain }}
  </div>

  <button class="govuk-button" data-module="govuk-button" type="submit">
    Apply filters
  </button>
  <a href={% url 'action-progress' %} class="govuk-link"
    style="padding-top: 8px;padding-left: 20px;display: inline-block">Remove filters</a>


</form>


{% block page_content %}



{% endblock page_content %}


{% endblock body %}