{% load get_criticality_category_text %}

<div class="custom-criticality-ratings">
    {% for criticality_rating_type in criticality_rating_types %}
    <details class="govuk-details component-panel" data-module="govuk-details" id="chain-stages" {% if criticality_rating == forloop.counter %}open{% endif %}>
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text govuk-!-font-weight-bold">
                {{ criticality_rating_type|title }} - {{ forloop.counter }}
            </span>
        </summary>
        <div class="govuk-details__text app-dit-details__text">
            <h4 class="govuk-heading-s">Impact on human health</h4>
            <p class="govuk-body-s">{% get_criticality_category_text criticality_rating_details criticality_rating_type "human_health" %}</p>
            <h4 class="govuk-heading-s">Impact on national security (including public order</h4>
            <p class="govuk-body-s">{% get_criticality_category_text criticality_rating_details criticality_rating_type "national_security" %}</p>
            <h4 class="govuk-heading-s">Impact on a strategic economic sector or the economy as a whole including reaching net zero</h4>
            <p class="govuk-body-s">{% get_criticality_category_text criticality_rating_details criticality_rating_type "economic" %}</p>
            <h4 class="govuk-heading-s">Impact on essential services</h4>
            <p class="govuk-body-s">{% get_criticality_category_text criticality_rating_details criticality_rating_type "essential_services" %}</p>
        </div>
    </details>
    {% endfor %}
</div>
