{% load gsc_notes %}

<details class="govuk-details component-panel" data-module="govuk-details" id="chain-stages">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text govuk-!-font-weight-bold">
            Criticality rating
        </span>
    </summary>
    <div class="govuk-details__text app-dit-details__text">
        <h3 class="govuk-heading-m">{{ sc.criticality_rating_text|title }}</h3>
        <hr>
        <p class="govuk-body-s">View more information about each level</p>
        {% include "includes/criticality/categories.html" criticality_rating=sc.criticality_rating %}
        {% gsc_notes instance=sc %}
    </div>
</details>
