{% with sau=strategic_action_update sa=strategic_action_update.strategic_action %}
    {% with has_adjusted_timing=sau.has_timing_info has_current_timing=sa.has_timing_info %}
        {% if has_adjusted_timing or has_current_timing %}
            <div class="govuk-inset-text">
                <h2 class="govuk-heading-s">{% if has_adjusted_timing %}Adjusted{% else %}Current{% endif %} estimated date of completion</h2>
                {% if has_adjusted_timing %}
                    {% if sau.changed_value_for_target_completion_date %}
                        <p>{{ sau.changed_value_for_target_completion_date|date:"j F Y" }}</p>
                    {% elif sau.changed_value_for_is_ongoing %}
                        <p>Ongoing</p>
                    {% endif %}
                {% else %}
                    {% if sa.target_completion_date %}
                        <p>{{ sa.target_completion_date|date:"j F Y" }}</p>
                    {% elif sa.is_ongoing %}
                        <p>Ongoing</p>
                    {% endif %}
                {% endif %}
            </div>
        {% else %}
            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Warning</span>
                    There's no expected completion date for this action.
                </strong>
            </div>
        {% endif %}
    {% endwith %}
{% endwith %}