{% extends "chain_details_base.html" %}


{% block page_header %}

<a href={% url 'chain-details-list' dept %} class="govuk-back-link">Back</a>

<h1 class="govuk-heading-xl">Supply chain details</h1>


<p class="govuk-body">
  Detailed supply chain information
</p>

{% endblock page_header %}

{% block page_content %}




<br>

<span class="govuk-caption-xl">{{ dept }}</span>
<h1 class="govuk-heading-xl">{{ sc.name }}</h1>



<br>
<dl class="govuk-summary-list" id="chain-info">
  <div class="govuk-summary-list__row--no-border">
    <dd class="govuk-summary-list__value">
      <h3 class="govuk-heading-s" style="padding-bottom: 10px;">Description</h3>
      {{ sc.description }}
    </dd>
  </div>
</dl>


<br>


{% include "includes/chain_stages.html" %}
{% include "scenario_assessment.html" %}

<br>


<div class="app-back-to-top" data-module="app-back-to-top">
  <a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#top">
    <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg"
      width="19" height="17" viewBox="0 0 19 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>Back to top
  </a>
</div>


{% endblock page_content %}