{% extends "chain_details_base.html" %}

{% block page_content %}


<br>
<h2 class="govuk-heading-l govuk-!-font-weight-bold">{{ dept }}</h2>

<p class="govuk-body">
  Select a profile to view supply chain information
</p>

<br>
<dl class="govuk-summary-list">
    <div class="tasklist-top-border"></div>
    {% for sc in chains %}
    <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
            <a href="#" class="govuk-link govuk-!-font-weight-bold">{{ sc.name }}</a>
        </dd>
    </div>

    {% endfor %}
</dl>
{% if chains.has_other_pages %}
{% include 'includes/pagination.html' with objects=chains objects_name="supply chains" %}
{% endif %}

<br>

<div class="app-back-to-top" data-module="app-back-to-top">
    <a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#top">
      <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="19" height="17" viewBox="0 0 19 17">
        <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
      </svg>Back to top
    </a>
  </div>


{% endblock page_content %}


