{% extends "base.html" %}

{% block body %}

<div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"> Update supply chain information for {{ gov_department_name }}</h1>

    <p class="govuk-body">
        This service is designed to record updates to departmental action plans for
        the UK's critical supply chains.
    </p>
    <p class="govuk-body">
        Regular updates are important to Cross-Whitehall work to improve the UK's supply
        chain resilience.
    </p>
    <div class="govuk-inset-text">
        Analysis for the data you provide can be explored in the <a class="govuk-link" href="#">Resilience tool</a>.
    </div>
    <p class="govuk-body">
        Below you will see the supply chains for which your department is the government lead.
        Click on a supply chain to provide your regular monthly updare or to update wider details.
    </p>

    <h2 class="govuk-heading-m"> Monthly update {% if update_complete %}Complete{% else %}Incomplete {% endif %}</h2>
    <ul class="govuk-list govuk-list--bullet">
        <li>
            The deadline for this monthly update is
            <span class="govuk-body govuk-!-font-weight-bold">{{ deadline|date:"l jS F, Y" }}</span>.
        </li>
        <li>
            You have given updates for
            <span class="govuk-body govuk-!-font-weight-bold">{{ num_updated_supply_chains }} out of {{ supply_chains.paginator.count }} supply chains.</span>
        </li>
    </ul>

    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Supply chain</th>
                <th scope="col" class="govuk-table__header">No. strategic actions</th>
                <th scope="col" class="govuk-table__header">Last updated</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            {% for supplychain in supply_chains %}
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">
                        <a href={% url 'tlist' chain=supplychain.name %}  class="govuk-link">{{ supplychain.name }}</a>
                    </th>
                    <td class="govuk-table__cell">{{supplychain.strategic_action_count}}</td>
                    <td class="govuk-table__cell">{{supplychain.last_submission_date|date:"SHORT_DATE_FORMAT"}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if supply_chains.has_other_pages %}
        <nav class="moj-pagination">
            <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>
            <ul class="moj-pagination__list">
                {% if supply_chains.has_previous %}
                    <li class="moj-pagination__item  moj-pagination__item--prev">
                        <a class="moj-pagination__link" href="?page={{ supply_chains.previous_page_number }}">Previous<span class="govuk-visually-hidden"> set of pages</span></a>
                    </li>
                {% endif %}
                {% for i in supply_chains.paginator.page_range %}
                    {% if supply_chains.number == i %}
                        <li class="moj-pagination__item moj-pagination__item--active">
                            <span>{{ i }}</span>
                        </li>
                    {% else %}
                        <li class="moj-pagination__item">
                            <a class="moj-pagination__link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if supply_chains.has_next %}
                    <li class="moj-pagination__item  moj-pagination__item--next">
                        <a class="moj-pagination__link" href="?page={{ supply_chains.next_page_number }}">Next<span class="govuk-visually-hidden"> set of pages</span></a>
                    </li>
                {% endif %}
            </ul>
            <p class="moj-pagination__results">Showing <b>{{ supply_chains.start_index }}</b> to <b>{{ supply_chains.end_index }}</b> of <b>{{ supply_chains.paginator.count }}</b> supply chains</p>
        </nav>
    {% endif %}
</div>

{% endblock %}
