{% extends 'base.html' %}

{% block page_title %}{{ strategic_action_update.strategic_action.name }} update – {{ strategic_action_update.supply_chain.name }} – {{ block.super }}{% endblock page_title %}

{% block breadcrumbs %}
    {% include "supply_chains/includes/monthly_update_form_breadcrumbs.html" %}
{% endblock breadcrumbs %}

{% block body %}
    {% include "supply_chains/includes/error_summary.html" %}
    <h1 class="govuk-heading-xl">Strategic action monthly update</h1>
    {% block form %}{% endblock form %}
{% endblock body %}
