
.custom-criticality-ratings {
  .govuk-heading-s {
    margin-bottom: 10px;
  }
  .component-panel {
    padding-top: 10px;
    padding-bottom: 0;
  }
  .govuk-details {
    margin-bottom: 0;
  }
  margin-bottom: 20px;
}
