{% load gsc_notes %}

<details class="govuk-details component-panel" data-module="govuk-details" id="chain-stages">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text govuk-!-font-weight-bold">
            Maturity level
        </span>
    </summary>
    <div class="govuk-details__text app-dit-details__text">
        <h3 class="govuk-heading-m">{{ sc.maturity_rating_text }}</h3>
        <hr>
        <p class="govuk-body-s">View more information about each level</p>
        {% include "includes/maturity/categories.html" with maturity_rating=sc.maturity_rating %}
        {% gsc_notes instance=sc.maturity_rating  %}
    </div>
</details>
